<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <title>View Users</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
$(document).ready(function() {
    // Mendengarkan peristiwa saat pengguna mengetikkan sesuatu
    $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#viewDataUsers tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    loadUserData();

    function loadUserData() {
        // Fungsi untuk mengambil dan menampilkan semua data
        $.getJSON("http://localhost:8080/surat", function(result) {
            var data = '';
            for (var i = 0; i < result.length; i++) {
                var rowNumber = i + 1; // Hitung nomor baris

                data += "<tr><td>" + rowNumber + "</td><td>" +
                    result[i].namaSurat + "</td><td>" +
                    result[i].deskripsi + "</td><td>"+
                    "<a class='btn btn-warning' href='/admin/surat/edit/" + result[i].id + "'>Edit</a>" +
                    "<a class='btn btn-danger ml-2' data-surat-id='" + result[i].id + "'>Hapus</a></td></tr>";
            }
            $("#viewDataUsers").html(data);
        });
    }
    $(document).on("click", ".btn-danger", function() {
        // Ambil id dari tombol hapus yang diklik
        var ruanganId = $(this).data('surat-id');

        // Tampilkan konfirmasi alert
        var isConfirmed = confirm("Apakah Anda yakin ingin menghapus surat ini?");

        // Jika pengguna mengkonfirmasi, lakukan penghapusan
        if (isConfirmed) {
            // Lakukan penghapusan dengan mengarahkan ke endpoint delete
            window.location.href = "/surat/delete/" + ruanganId;
        }
    });
});
</script>


</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Selamat Datang, Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/ruangan/index">Ruangan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/surat/index">Surat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/izinBermalam/index">Izin Bermalam</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/izinKeluar/index">Izin Keluar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/pembelianKaos/index">Pembelian Kaos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/requestSurat/index">Request Surat</a>
                </li>
                <li class="nav-item">
				    <a class="nav-link btn btn-danger" th:href="@{/view-login}" id="logoutLink">Logout</a>
				</li>
            </ul>
        </div>
    </nav>
<div class="container">
	<h1 class="mt-4">Daftar Surat</h1>
	<!--<a href="/admin-view-keranjang" class="btn btn-primary">Order</a>  -->
    <a href="/admin/surat/add" class="btn btn-primary">Tambah Surat</a>
    <input type="text" id="searchInput" class="form-control" placeholder="Cari surat..">
    <br>
    <h4 class="mt-4">Daftar Surat</h4>
    <table id="viewDataUsers" class="table table-bordered mt-3">
        <tr>
            <th>No</th>
            <th>Nama Surat</th>
            <th>Deksiripsi</th>
            <th>Action</th>
        </tr>
    </table>
 </div>
 
</body>
</html>